@font-face {
    font-family: "iconfont"; /* Project id 4733035 */
    src: url('//at.alicdn.com/t/c/font_4733035_410452fwgcs.woff2?t=1730785635112') format('woff2'),
    url('//at.alicdn.com/t/c/font_4733035_410452fwgcs.woff?t=1730785635112') format('woff'),
    url('//at.alicdn.com/t/c/font_4733035_410452fwgcs.ttf?t=1730785635112') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-music:before {
    content: "\e738";
}

.icon-chajian1:before {
    content: "\eaab";
}

.icon-chajiankaifa:before {
    content: "\eaac";
}

.icon-chakanlishi:before {
    content: "\eaad";
}

.icon-chongzhidingdan:before {
    content: "\eaae";
}

.icon-chengshi:before {
    content: "\eaaf";
}

.icon-danhanghuadong:before {
    content: "\eab0";
}

.icon-daimashengcheng:before {
    content: "\eab1";
}

.icon-code:before {
    content: "\eab2";
}

.icon-copy-line:before {
    content: "\eab3";
}

.icon-fuzhushuxian:before {
    content: "\eab4";
}

.icon-gaikuang:before {
    content: "\eab5";
}

.icon-guanfangshichang:before {
    content: "\eab6";
}

.icon-a-shouyediannao:before {
    content: "\eab7";
}

.icon-banbenqiehuan:before {
    content: "\eab8";
}

.icon-bankuai:before {
    content: "\eab9";
}

.icon-caidan:before {
    content: "\eaba";
}

.icon-anquan:before {
    content: "\e605";
}

.icon-dingwei:before {
    content: "\e606";
}

.icon-bofang:before {
    content: "\e607";
}

.icon-fenxiang:before {
    content: "\e608";
}

.icon-biaoqian:before {
    content: "\e609";
}

.icon-shezhi:before {
    content: "\e60a";
}

.icon-fuzhi:before {
    content: "\e60b";
}

.icon-shoucang:before {
    content: "\e60c";
}

.icon-qianbao:before {
    content: "\e60d";
}

.icon-shanchu:before {
    content: "\e60e";
}

.icon-saomiao:before {
    content: "\e60f";
}

.icon-wancheng:before {
    content: "\e610";
}

.icon-yingyong:before {
    content: "\e611";
}

.icon-xiangji:before {
    content: "\e612";
}

.icon-lanqiu:before {
    content: "\e634";
}

.icon-zuqiu:before {
    content: "\e637";
}

.icon-b:before {
    content: "\e643";
}

.icon-a:before {
    content: "\e644";
}

.icon-c:before {
    content: "\e645";
}

.icon-d:before {
    content: "\e646";
}

.icon-e:before {
    content: "\e647";
}

.icon-f:before {
    content: "\e648";
}

.icon-h:before {
    content: "\e649";
}

.icon-i:before {
    content: "\e64a";
}

.icon-g:before {
    content: "\e64b";
}

.icon-j:before {
    content: "\e64c";
}

.icon-k:before {
    content: "\e64d";
}

.icon-u:before {
    content: "\e64e";
}

.icon-z:before {
    content: "\e64f";
}

.icon-x:before {
    content: "\e650";
}

.icon-o:before {
    content: "\e651";
}

.icon-y:before {
    content: "\e652";
}

.icon-s:before {
    content: "\e653";
}

.icon-p:before {
    content: "\e654";
}

.icon-w:before {
    content: "\e655";
}

.icon-q:before {
    content: "\e656";
}

.icon-diannaotubiao:before {
    content: "\e601";
}

.icon-NAS:before {
    content: "\e603";
}

.icon-dakaB:before {
    content: "\101cd";
}

.icon-jiluB:before {
    content: "\101ce";
}

.icon-dianpuB:before {
    content: "\101cf";
}

.icon-wenjianjiaB:before {
    content: "\101d0";
}

.icon-xuexiB:before {
    content: "\101d1";
}

.icon-xiangceB:before {
    content: "\101d2";
}

.icon-zhishikuB:before {
    content: "\101d3";
}

.icon-xiaoxiB:before {
    content: "\101d4";
}

.icon-touying:before {
    content: "\e614";
}

.icon-bijiben:before {
    content: "\e616";
}

.icon-photo:before {
    content: "\e8f7";
}
